* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #000000;
    padding-left: 150px;
    padding-right: 150px;
    margin-top: 20px;
}

h1 {
   color: #15ff47;
   margin-bottom: 30px;
   animation-name: Title;
   animation-duration: 5s;
   animation-iteration-count: infinite;
   animation-timing-function: ease-out;

}

@keyframes Title {
    from {
        color: #000000;
    
    }

    to {
        color: #15ff47;
        
    }


}
.container {
    display: grid;
    grid-template-columns: repeat(4, minmax(300px, 1fr));
    row-gap: 23px;
    column-gap: 24px;

}

.item {
    width: 300px;
    height: 200px;
    object-fit: cover;
    display: block;
 
}

.item-1 {
    grid-column: 1 / span 2;
   
}


.item-5 {
    grid-column: 2 / span 1;
    grid-row: 2 / span 2
}


.item-6 {
    grid-column: 3 / span 2;
   
}


