* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: black;
    color: aqua;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 50px;
    font-weight: 500;
    padding: 50px;
    text-align: center;
    position: relative;
    animation-name: Title;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;

}

@keyframes Title {
    from {
        color: black;
    }
    to {
        color: aqua;
    }
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 200px);
    gap: 50px;
    width: 80%;
    max-width: 800px;
    color: aqua;
    margin-left: 100px;
    margin-right: 100px;
}

.container span a {
    text-decoration: none;
    color: inherit;
    font-family: Arial, Helvetica, sans-serif;
    display: flex; 
    width: 100%;     
    height: 100%;        
    justify-content: center; 
    align-items: center;
    
}

.container span {
    display: block;   
    border: 2px solid aqua;
    padding: 0;
    overflow: hidden; 
}


    