* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    
}


body {
    width: 100vw;
    height: 100vh;
    font-family: sans-serif;
    padding: 100px;
  
}


h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 50px;
    color: forestgreen;
    position: relative;
    animation-name: Title;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

@keyframes Title {
    from {
        left: 16px;
    }
    to {
        left: 56%;
    }
}

.gallery {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    row-gap: 27px;

}

