* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}


body {
    width: 1512px;
    font-family: sans-serif;
    padding: 80px;
    
  
}


h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 50px;
    color: forestgreen;
    position: relative;
    animation-name: Title;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

@keyframes Title {
    from {
        left: -50px;
    }
    to {
        left: 58%;
    }
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    row-gap: 24px;
    column-gap: 23px;

}

.gallery figure {
    aspect-ratio: 3/2;
}

.gallery img {
    width: 300px;
    height: 200px;
}
